@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-[3.3rem];
  }
  h2 {
    @apply text-[3rem] font-bold;
  }
  h4 {
    @apply text-[2.2rem];
  }
  h5 {
    @apply text-[2rem] font-bold;
  }
}

.slide-right {
  animation: slideRight 1s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes slideRight {
  from {
    transform: translateX(-4rem);
  }
  to {
    transform: translateX(0rem);
  }
}
.slide-left {
  animation: slideLeft 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes slideLeft {
  from {
    transform: translateX(6rem);
  }
  to {
    transform: translateX(0rem);
  }
}
.slide-top {
  animation: slideTop 1.5s cubic-bezier(0.175, 0.885, 0.32, 1.275) forwards;
}
@keyframes slideTop {
  from {
    transform: translateY(6rem);
  }
  to {
    transform: translateX(0rem);
  }
}
